# macOS-spesifikke filer
.DS_Store
.AppleDouble
.LSOverride
Icon_
._*

# macOS filsystem-filer
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Lokale innstillinger for kjente editorer
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~
